In [61]:
import pandas as pd
import streamlit as st

In [12]:
file_path = "UTAS.xlsx"

# Read the Excel file
df = pd.read_excel(file_path)

# Display the DataFrame
df.head()

,Branch,Specialization,Academic Year,CITY,Graduated
0,Al Musanna Branch,Business Studies,2019/2020,Al-Awabi,12.0
1,Al Musanna Branch,Engineering,2019/2020,Al-Awabi,15.0
2,Al Musanna Branch,Information Technology,2019/2020,Al-Awabi,2.0
3,Al Musanna Branch,Engineering,2019/2020,Al-Burami,1.0
4,Al Musanna Branch,Information Technology,2019/2020,Al-Burami,1.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1857 entries, 0 to 1856
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Branch          1856 non-null   object
 1   Specialization  1856 non-null   object
 2   Academic Year   1856 non-null   object
 3   CITY            1753 non-null   object
 4   Graduated       1856 non-null   float64
dtypes: float64(1), object(4)
memory usage: 72.7+ KB

In [14]:
set(df["Academic Year"])

{'2019/2020', '2020/2021', '2021/2022', '2022/2023', '2023/2024', nan}

In [15]:
df[df["Academic Year"].isna()]

     Branch Specialization Academic Year CITY  Graduated
1530    NaN            NaN           NaN  NaN        NaN

In [16]:
df.dropna(subset=["Academic Year"], inplace=True)

In [23]:
columns = list(set(df["Specialization"]))

columns.insert(0," ")

columns

[' ',
 'Applied Science',
 'Photography',
 'Fashion Design',
 'Business Studies',
 'Pharmacy',
 'Information Technology',
 'Engineering']

In [ ]:
df_19_20 = df[df["Academic Year"] == "2019/2020"]

In [33]:
rows = []

for x in df_19_20["Branch"].dropna().unique():
    row = [x]
    for y in columns[1:]:  # Skip 'Branch' in columns
        count = df_19_20[(df_19_20["Branch"] == x) & (df_19_20["Specialization"] == y)].shape[0]
        row.append(count)
    rows.append(row)

rows

[['Al Musanna Branch', 0, 0, 0, 15, 0, 13, 17],
 ['Ibra Branch', 0, 0, 0, 11, 0, 12, 17],
 ['Ibri Branch', 0, 0, 0, 9, 0, 7, 9],
 ['Muscat Branch', 43, 3, 1, 28, 11, 27, 39],
 ['Nizwa Branch', 0, 0, 0, 12, 0, 9, 15],
 ['Salalah Branch', 0, 0, 0, 13, 0, 11, 23],
 ['Shinas Branch', 0, 0, 0, 10, 0, 11, 16]]

In [57]:
def get_branch_specialization_table(df):
    # Get ordered column list: specializations + " " as first column for branches
    columns = list(set(df["Specialization"].dropna()))
    columns.sort()  # Optional
    columns.insert(0, "Branch / Specialization")  # Placeholder for branch names

    # Build rows
    rows = []
    for branch in df["Branch"].dropna().unique():
        for year in df["Academic Year"].dropna().unique():  # Iterate over years
            row = [branch]  # Add the branch and year to the row
            total = 0
            for specialization in columns[1:]:  # Skip placeholder
                count = df[(df["Branch"] == branch) & (df["Specialization"] == specialization) & (df["Academic Year"] == year)].shape[0]
                row.append(count)
                total += count
            row.append(total)  # Add total at the end of the row
            row.append(year)
            rows.append(row)

    # Add 'Total' to columns
    columns.append("Total")
    columns.append("Year")


    result_df = pd.DataFrame(rows, columns=columns)
    return result_df

In [58]:
new_df = get_branch_specialization_table(df)

new_df

,Branch / Specialization,Applied Science,Business Studies,Engineering,Fashion Design,Information Technology,Pharmacy,Photography,Total,Year
0,Al Musanna Branch,0,15,17,0,13,0,0,45,2019/2020
1,Al Musanna Branch,0,12,14,0,11,0,0,37,2020/2021
2,Al Musanna Branch,0,12,13,0,9,0,0,34,2021/2022
3,Al Musanna Branch,0,13,12,0,8,0,0,33,2022/2023
4,Al Musanna Branch,0,9,10,0,10,0,0,29,2023/2024
5,Ibra Branch,0,11,17,0,12,0,0,40,2019/2020
6,Ibra Branch,0,12,18,0,15,0,0,45,2020/2021
7,Ibra Branch,0,13,15,0,13,0,0,41,2021/2022
8,Ibra Branch,0,11,13,0,13,0,0,37,2022/2023
9,Ibra Branch,0,12,13,0,12,0,0,37,2023/2024
10,Ibri Branch,0,9,9,0,7,0,0,25,2019/2020
11,Ibri Branch,0,8,9,0,7,0,0,24,2020/2021
12,Ibri Branch,0,6,11,0,8,0,0,25,2021/2022
13,Ibri Branch,0,6,9,0,6,0,0,21,2022/2023
14,Ibri Branch,0,6,6,0,6,0,0,18,2023/2024
15,Muscat Branch,43,28,39,1,27,11,3,152,2019/2020
16,Muscat Branch,44,40,41,7,31,19,9,191,2020/2021
17,Muscat Branch,41,34,39,5,36,19,6,180,2021/2022
18,Muscat Branch,42,34,37,17,28,11,9,178,2022/2023
19,Muscat Branch,39,23,41,1,20,22,9,155,2023/2024
20,Nizwa Branch,0,12,15,0,9,0,0,36,2019/2020
21,Nizwa Branch,0,12,17,0,10,0,0,39,2020/2021
22,Nizwa Branch,0,10,16,0,12,0,0,38,2021/2022
23,Nizwa Branch,0,12,14,0,9,0,0,35,2022/2023
24,Nizwa Branch,0,9,11,0,9,0,0,29,2023/2024
25,Salalah Branch,0,13,23,0,11,0,0,47,2019/2020
26,Salalah Branch,0,10,17,0,10,0,0,37,2020/2021
27,Salalah Branch,0,6,16,0,8,0,0,30,2021/2022
28,Salalah Branch,0,8,14,0,7,0,0,29,2022/2023
29,Salalah Branch,0,6,16,0,6,0,0,28,2023/2024
30,Shinas Branch,0,10,16,0,11,0,0,37,2019/2020
31,Shinas Branch,0,12,14,0,12,0,0,38,2020/2021
32,Shinas Branch,0,10,11,0,8,0,0,29,2021/2022
33,Shinas Branch,0,10,10,0,7,0,0,27,2022/2023
34,Shinas Branch,0,11,9,0,10,0,0,30,2023/2024

In [64]:
# Streamlit app
st.set_page_config(page_title="Branch Specialization Table", layout="wide")

st.title("Branch Specialization Summary")
st.markdown("Use the filters below to narrow down the data.")

# Filters
branch_list = new_df["Branch / Specialization"].unique()
year_list = new_df["Year"].unique()

selected_branch = st.selectbox("Select Branch", branch_list)
selected_year = st.selectbox("Select Year", year_list)

# Filtered DataFrame
filtered_df = new_df[(new_df["Branch / Specialization"] == selected_branch) & (new_df["Year"] == selected_year)]

# Display DataFrame
st.dataframe(filtered_df.style.format(na_rep='0'), use_container_width=True)

2025-05-11 12:15:18.983 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.983 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.984 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.985 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.985 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.986 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.986 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.987 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.988 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.988 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.989 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.990 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.990 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.991 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.992 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.993 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:18.993 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:19.755 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:19.784 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-11 12:15:19.785 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()